@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body, #app {
    margin: 0;
    height: 100%;
}

#app {
    background: linear-gradient(45deg, #41dd2c 0%, #2989d8 100%);
    background-repeat: no-repeat;
}

.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.top-content {
    padding: 0.5rem 0;
    flex-basis: 10%;
}

.center-content {
    overflow-y: scroll;
    flex-basis: 70%;
}

.center-content::-webkit-scrollbar { 
    width: 0 !important 
}

.bottom-content {
    padding: 0.5rem 0;
    flex-basis: 20%;
}

.mp-btn {
    margin: 0 1rem;
    background-color: transparent;
    border: 0;
    color: white; 
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem rgba(0,0,0,0.5);
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mp-btn:hover,
.mp-btn:focus {
    outline: 0;   
    cursor: pointer;
}

.song-info {
    margin: 0;
    display: block;
    width: 100%;
    color: white;
    text-shadow: 0.1rem 0.1rem rgba(0,0,0,0.5);
    font-size: 1rem;
    text-align: center;
}

.song-info.big {
    font-size: 1.5rem;
}

.track-progress-bar {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 0.1rem;
    margin: 1rem auto;
    width: 90%;
    background-color: white;
}

.track-progress-indicator {
    position: absolute;
    left: 0;
    color: white;
    font-size: 1.25rem;
    text-shadow: 0.1rem 0.1rem rgba(0,0,0,0.5);
}

.playlist-name {
    margin: 0.5rem 0 0;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0.1rem 0.1rem rgba(0,0,0,0.5);
}

.song-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(255,255,255,0.1);
}

.song-list-item {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0.75rem 0;
    border-bottom: 0.01rem solid rgba(0,0,0,0.75);
    cursor: pointer;
}

.song-list-item:hover {
    background-color: rgba(255,255,255,0.1);
}

.song-list-item p {
    flex-basis: 95%;
    margin: 0;
    text-align: left;
    font-size: 1.2rem;
}

.song-list-item button {
    flex-basis: 5%;
    background-color: transparent;
    border: 0;
    color: white; 
    font-size: 1.2rem;
}

.song-list-item button:hover,
.song-list-item button:focus {
    outline: 0;   
    cursor: pointer;
}